.select-beginning {
  margin: 20px;
  margin-left: 2.5%;
  font-style: oblique;
  color: aliceblue;
}
#lastcontainer {
  margin-bottom: 10px;
}
.timesearch {
  margin-right: 5px;
  font-size: large;
  font-style: oblique;
  background-color: aliceblue;
  color: #5a4f79;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}
.timesearch:hover {
  background-color: #5a4f79;
}
.select-beginning > select {
  font-size: large;
  font-style: oblique;
  background-color: aliceblue;
  color: #5a4f79;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}

.select-beginning > select:hover {
  transition: 0.9s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
}
#select-year {
  margin-right: 5px;
}

#futureDateWarning {
  color: rgb(164, 21, 21);
  margin-top: 10px;
}

/* BIG SCREENS  */
@media (min-width: 2500px) {
  .select-date {
    zoom: 1.4;
  }
}
@media (min-width: 3500px) {
  .select-date {
    zoom: 1.6;
  }
}
@media (min-width: 4500px) {
  .select-date {
    zoom: 1.8;
  }
}
@media (min-width: 5500px) {
  .select-date {
    zoom: 2;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  @media (max-width: 460px) {
    .select-date > select {
      zoom: 0.3;
      margin-right: 10px;
    }
  }
}

@media (max-width: 470px) {
  .select-beginning {
    zoom: 0.6;
  }
}
