
button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeaf7;
    color: #5a4f79;
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
  }
  .switch{
    background-color: #5a4f79;
    color: #edeaf7;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    margin-left: 75%;
    margin-bottom: 20px;
    transition: 0.3s all linear;
    box-shadow: 0px 0px 5px #aac5c6;
  }
  .switch:hover{
    background-color: #edeaf7;
    color: #5a4f79;
  }
  
  .login-card {
    margin: auto;
    margin-top: 50px;
    width: 400px;
    padding: 0px 30px 64px;
    border-radius: 1.25rem;
    background: #ffffff;
    text-align: center;
  }
  
  .login-card > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 6px;
  }
  
  .login-card > h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
  }
  
  .login-form input.control::placeholder {
    color: #aaa7bc;
  }
  
  .login-form > button.control {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #703eff;
    background: rgba(2, 228, 231);
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
  
  .password {
    position: relative;
  }
  
  .toggle {
    position: absolute;
    top: 50%;
    right: 16px;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    background-image: url("show.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .toggle.showing {
    background-image: url("hide.svg");
  }
  .warning{
    color: red;
  }

  /* SIGN UP */