#foodform {
  margin-top: 20px;
  padding-top: 30px;
}
#mealTitle {
  box-shadow: 0px 0px 5px #aac5c6;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #344056;
  max-width: 80%;
  margin: auto;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  color: #fbfbf8;
  /* background-image: "../../public/icons8-down-arrow-flaticons-lineal-color-96.png"; */
}
#mealTitle:hover {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
  color: #fbfbf8;
  background-color: rgba(2, 228, 231, 0.8);
}

#mealTitle option {
  font-size: 20px;
}

.foodeaten {
  margin-top: 5px;
  display: flex;
}

.foodeaten-button {
  max-width: 300px;
  margin: auto;
  margin-right: 5px;
}

#other {
  background-color: #fbfbf8;
  max-width: 80%;
  margin: auto;
}

#timeandweight {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

#time {
  width: fit-content;
  height: fit-content;
}
#weight {
  width: fit-content;
  margin: auto;
  margin-right: 0%;
}

/* FORM CHECK INPUT RADIO BUTTON */
.form-check {
  margin: auto;
  width: fit-content;
}
.checks {
  display: flex;
  margin-top: 10px;
}
.form-check-input {
  box-shadow: 0px 0px 5px #aac5c6;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  background-color: #344056;
  transition: 0.5s all linear;
  top: 4px;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}
.form-check-input:checked {
  border: 0.1vw solid #344056;
  background-color: rgba(2, 228, 231, 0.8);
}
/* RADIOS */
.form-label {
  margin: auto;
  margin-top: 10px;
  font-size: large;
  font-weight: 1000;
}
#howlong {
  display: flex;
  margin-bottom: 20px;
}
/* Save Button */
#savebtn {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
