
#foodform{
  margin-top: 20px;
  padding-top: 30px;
}

#mealTitle {
  box-shadow: 0px 0px 5px #aac5c6;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #1b3239;
  max-width: 80%;
  margin: auto;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  color: #fbfbf8;
  background-color: #344056;
}
#mealTitle:hover {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
  background-color: rgba(2, 228, 231, 0.8);
}
.foodeaten {
  width: 100%;
}

.foodeaten-button {
  max-width: 300px;
  margin:auto;
  margin-right: 5px;
  /* margin-left: 30%; */
}

#other {
  background-color: #fbfbf8;
  max-width: 80%;
  margin: auto;
}

#time {
  width: fit-content;
  max-width: 50%;
  margin: auto;
}
#weight {
  width: fit-content;
  max-width: 50%;
  margin: auto;
}

/* FORM CHECK INPUT RADIO BUTTON */
.form-check-input {
  box-shadow: 0px 0px 5px #aac5c6;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  background-color: #344056;
  transition: 0.5s all linear;
  top: 4px;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}
.form-check-input:checked {
  border: 0.1vw solid #344056;
  background-color: rgba(2, 228, 231, 0.8);
}

#dropDown {
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  color: #fbfbf8;
  background-color: #344056;
  box-shadow: 0px 0px 5px #aac5c6;
}
#dropDown:hover {
  transition: 0.3s all linear;
  background-color: rgba(2, 228, 231, 0.8);
}

/* Save Button */
#savebtn {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
  max-width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
