select {
  margin-right: 5px;
  padding: 5px;
}

#date {
  /* margin-right: 25px; */
  /* color: black; */
}
.select-date {
  font-size: large;
  /* text-align: center; */
  display: flex;
}

.select-date > select {
  /* color: #040c0e; */
  color: aliceblue;
  font-style: oblique;
  /* background-color: #dca36e; */
  /* color:#1b3239; */

  background-color: #5a4f79;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}
.select-date > select:hover {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
}
#select-year {
  margin-right: 5px;
}
#daysearch {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
}

 

/* BIG SCREENS  */
 @media (min-width: 2500px) {
  .select-date  {
    zoom: 1.4;
  }
}
@media (min-width: 3500px) {
  .select-date  {
    zoom: 1.6;
  }
}
@media (min-width: 4500px) {
  .select-date  {
    zoom: 1.8;
  }
}
@media (min-width: 5500px) {
  .select-date  {
    zoom: 2;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  @media (max-width: 460px) {
    .select-date > select{
      zoom: 0.3;
      margin-right: 10px;
    }
  }
}