select {
  margin-right: 5px;
}

#date {
  margin-right: 25px;
  color: black;
}
.select-date {
  font-size: large;
  text-align: center;
  overflow: auto;
  display: flex;
}
.select-date option {
  /* font-size: 25px; */
}
.select-date > select {
  color: #040c0e;
  font-style: oblique;
  background-color: #dca36e;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}
.select-date > select:hover {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
}
#select-year {
  margin-right: 5px;
}
#daysearch {
  transition: 0.3s all linear;
  box-shadow: 0px 0px 5px #aac5c6;
}

 @media (max-width: 1000px) {
  .select-date option {
    font-size: 5px;
  }
}

/* BIG SCREENS */
/* @media (min-width: 2500px) {
  .select-date  {
    zoom: 1.4;
  }
}
@media (min-width: 3500px) {
  .select-date  {
    zoom: 1.6;
  }
}
@media (min-width: 4500px) {
  .select-date  {
    zoom: 1.8;
  }
}
@media (min-width: 5500px) {
  .select-date  {
    zoom: 2;
  }
} */
