.cardcontainer {
  color: white;
  width: 600px;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  margin-bottom: 15px;
  font-size: 25px;
  text-align: left;
}

/* TITLE */
.cardcontainer:hover {
  transition: 0.3s all linear;
  transform: scale(1.1);
}
.MealCardTitle {
  display: flex;
  border-bottom: 0.5px solid #344056;
  justify-content: space-evenly;
  padding: 3%;
  background-color: #344056;
  border-radius: 10px;
}
.deleteMeal {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  margin-left: 10px;
}

.MealCardTitle h1 {
  margin: auto;
  font-size: 40px;
}

.timeweight {
  margin: auto;
  margin-right: 10px;
}
.timelogged {
}

/* BODY OF CARD */

.cardbody {
  display: flex;
  justify-content: space-evenly;
}
.cardtitle {
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.comm {
  max-width: 50%;
}
.foodItemlist {
}
.sideffects {
}
.fooditem {
}
.comments {
  padding: 10px;
  text-align: center;
}

@media (max-width: 1500px) {
  .cardcontainer {
    zoom: 0.7;
  }
  .MealCardTitle h1 {
  }
}
@media (max-width: 1000px) {
  .cardcontainer {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 90%;
    font-size: 25px;
    zoom: 1;
  }
}

/* BIG SCREENS */
@media (min-width: 2500px) {
  .cardcontainer {
    zoom: 1.2;
  }
}
@media (min-width: 3500px) {
  .cardcontainer {
    zoom: 1.4;
  }
}
@media (min-width: 4500px) {
  .cardcontainer {
    zoom: 1.6;
  }
}
@media (min-width: 5500px) {
  .cardcontainer {
    zoom: 1.8;
  }
}
