.cardcontainer {
  /* width: 110%; */
  width: 500px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  margin-bottom: 15px;
  font-size: 20px;
  text-align: left;
  padding: 2%;
  font-family: "Times New Roman", Times, serif;
  zoom: 0.7;


}

/* TITLE */
.cardcontainer:hover {
  transition: 0.3s all linear;
  transform: scale(1.1);
}
.MealCardTitle {
  display: flex;
  /* border-bottom: 0.5px solid #344056; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  padding: 3%;
  background-color: #344056;
  border-radius: 10px;
}
.deleteMeal {
  margin: auto;
  /* margin-left: 10px; */
  /* height: 40px;
  width: 40px; */
}

.MealCardTitle h1 {
  margin: auto;
  font-size: 30px;
}

.timeweight {
  margin: auto;
  /* margin-right: 10px; */
}
.timelogged {
}

/* BODY OF CARD */

.cardbody {
  display: flex;
  justify-content: space-evenly;
}
.cardtitle {
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.comm {
  max-width: 50%;
}
.foodItemlist {
}
.sideffects {
}
.fooditem {
}
.comments {
  padding: 10px;
  text-align: center;
}


@media (max-width: 1000px) {
  .cardcontainer {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 90%;
    font-size: 25px;
    zoom: 1;
  }
}
@media (max-width: 800px) {
  .cardcontainer {
    zoom: 0.9;
  }
}
@media (max-width: 700px) {
  .cardcontainer {
    zoom: 0.8;
  }
}
@media (max-width: 600px) {
  .cardcontainer {
    zoom: 0.7;
  }
}
@media (max-width: 500px) {
  .cardcontainer {
    zoom: 0.6;
  }
}
@media (max-width: 400px) {
  .cardcontainer {
    zoom: 0.5;
  }
}
@media (max-width: 350px) {
  .cardcontainer {
    zoom: 0.4;
  }
}
@media (max-width: 300px) {
  .cardcontainer {
    zoom: 0.3;
  }
}


/* BIG SCREENS */
@media (min-width: 2500px) {
  .cardcontainer {
    zoom: 1.2;
  }
}
@media (min-width: 3500px) {
  .cardcontainer {
    zoom: 1.4;
  }
}
@media (min-width: 4500px) {
  .cardcontainer {
    zoom: 1.6;
  }
}
@media (min-width: 5500px) {
  .cardcontainer {
    zoom: 1.8;
  }
}
