.foodpanelcontainer{
    display: flex;
    justify-content: space-evenly;

}
#foodbuttonslist{
    position: absolute;
    background-color: aliceblue;
     border-radius: 10px; 
    z-index: 2;
    overflow-y:scroll;
    max-width: 50%;
    min-width: 40%;
    max-height: 50%;
    
    box-shadow: 0px 0px 5px white  

    
}

.menubutton{
    width: 40%; 
    margin: 5px;

}

#namesearch{
     
     border-radius: 10px;
     font-size: large;
     width: 40%;
    /* font-size: 20px;  */
}
#category-select{
    width: 40%;

}
#category-select > option {
    /* background-color: red; */
    /* font-size: 20px; */
    background-color: rgb(166, 226, 166);
    font-size: large;

}
