.foodpanelcontainer{
    display: flex;

}
#foodbuttonslist{
    position: absolute;
    /* background-color: aliceblue; */
     border-radius: 10px; 
    z-index: 2;
    overflow-y:scroll;
    /* height:420px; */
    max-height: 50%;
    max-width: 50%;
    box-shadow: 0px 0px 5px white  

    
}

.menubutton{
    margin-bottom: 5px; 
    margin: auto;
    margin-top: 5px;
    width: 50%; 

}

#namesearch{
     
     border-radius: 10px;
    font-size: 20px; 
}
#category-select > option {
    /* background-color: red; */
    /* font-size: 20px; */
    background-color: pink;
    font-size: large;

}
