#navbarlogo {
  max-width: 100px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s all linear;
  border-radius: 10px;
  padding: 2px;
}
#navbarlogo:hover {
  background-color: #edeaf7;
}

.navbar {
  /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45); */
  /* border-radius: 0 0 10px 10px; */
  /* background-color: #1b3239; */
}
.navbtn {
  font-size: large;
  font-style: oblique;
  transition: 0.3s all linear;
  margin: auto;
  margin-left: 0;
}

#logoutbutton {
  background-color: #5a4f79;
  color: #edeaf7;
  box-shadow: 0px 0px 5px #aac5c6;
  margin-right: 10px;
}
#logoutbutton:hover {
  background-color: #edeaf7;
  color: #5a4f79;
}
#backbutton {
  background-color: #5a4f79;
  color: #edeaf7;
  box-shadow: 0px 0px 5px #aac5c6;
  margin-right: 80%;
}
#backbutton:hover {
  background-color: #edeaf7;
  color: #5a4f79;
}

#statslink {
  color: #5a4f79;
  padding-bottom: 0%;
  box-shadow: 0px 0px 5px #5a4f79;
}
#statslink:hover {
  background-color: #5a4f79;
  color: #edeaf7;
}

#statlogo {
  max-width: 40px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid red;
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  /* SMALL SCREENS */
  @media (max-width: 850px) {
    .navbar {
      zoom: 0.9;
    }
  }
  @media (max-width: 760px) {
    .navbar {
      zoom: 0.7;
    }
  }
  @media (max-width: 640px) {
    .navbar {
      zoom: 0.6;
    }
  }
  @media (max-width: 580px) {
    .navbar {
      zoom: 0.5;
    }
  }
  @media (max-width: 460px) {
    .navbar {
      zoom: 0.4;
    }
  }
  @media (max-width: 380px) {
    .navbar {
      zoom: 0.3;
    }
  }

  /* BIG SCREENS */
  @media (min-width: 2500px) {
    .navbar {
      zoom: 1.4;
    }
  }
  @media (min-width: 3500px) {
    .navbar {
      zoom: 1.6;
    }
  }
  @media (min-width: 4500px) {
    .navbar {
      zoom: 1.8;
    }
  }
  @media (min-width: 5500px) {
    .navbar {
      zoom: 2;
    }
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  @media (max-width: 460px) {
    .navbtn {
      zoom: 0.4;
    }
    #navbarlogo {
      zoom: 0.5;
    }
  }
}
